
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* background: #7cc; */
    background: transparent,#7cc;;
     /* background: #089; */
}



.contain_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background: #677;
    padding-top: 2em;
}

#invpay {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: #cacacc;
     height: 50%;
     width: 100%;
     border-top-right-radius: 30px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 10px;
     /* border-radius: 50%; */
}

.inpay{
    position: relative;
    bottom: 2em;
    color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    font-size: 15px;
    left: 0.8em;
    font-family: cursive;
    text-transform: capitalize;
}

.logo{
    padding-left: 8em;
}

.log{
    display: flex;
    gap: 6em;
    padding-right: 8em;
    cursor: pointer;
    color: #cacaca;
    text-transform: capitalize;
}

.sign_up{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 50px;
    width: 120px;
    text-align: center;
    padding-top: 0.4em;
}
/* styling the header content */
.container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 2em;
    cursor: pointer;
    /* background: #2fa2fa; */
    background: #7cc;
    height: 120px;
}

.container h3{
    color: #ffff;
    font: 1rem;
    opacity: 0.3;
    text-transform: capitalize;
    /* text-align: center; */
}

#awesome_team{
    color: #faebdf;
    padding-left: 1em;
    padding-bottom: 1em;
}

/* importing style from js file */
.form_field{
    margin-bottom: 4em;
    margin-top: 5em;
}