
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #aaaa;
    /* background: transparent,#7cc;; */
    /* background: #aaaa; */
    /* background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%); */
    /* background-blend-mode: screen, overlay; */
}





.contain_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    /* background: #677; */
    background: #aaaa;
    padding-top: 2em;
}

#invpay {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    color: #cacacc;
     height: 50%;
     width: 100%;
     border-top-right-radius: 30px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 10px;
     /* border-radius: 50%; */
}

.inpay{
    position: relative;
    bottom: 2em;
    color: #CDDCDC;
    background-image: radial-gradient(at 50% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(0,0,0,0.25) 100%);
    background-blend-mode: screen, overlay;
    font-size: 15px;
    left: 0.8em;
    font-family: cursive;
    text-transform: capitalize;
}

.logo{
    padding-left: 8em;
}

.log{
    display: flex;
    gap: 6em;
    padding-right: 8em;
    cursor: pointer;
    color: #cacaca;
    font-family: cursive;
    text-transform: capitalize;
}

.sign_up{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    /* background: #aaaa; */
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 50px;
    color: #fffa;
    /* color: #8a2aeb; */
    width: 120px;
    text-align: center;
    border: 1px solid #aaa;
}

.register_input{
    border: 0.1em solid #aaaa;
    width: 140px;
    height: 50px;
    color: #fffa;
    /* color: #8a2aeb; */
    text-align: center;
}

/* styling the login field */


.container_product{
    background: #989898;
    width: 400px;
    height: 500px;
    padding-left: 5em;
    margin-left: 30em;
    padding-top: 3em;
    margin-top: 3em;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #aaa;
    box-shadow: 10px 10px 10px 10px #CDDCDC;
}

.container_product h3{
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 4em;
    margin-bottom: 2em;
    /* bottom: 1em; */
    color: #8a2be2;
    border-radius: 50%;
}
#input_padding{
    margin-bottom: 2em;
}


.inputField{
    width: 230px;
    height: 40px;
    background: #FFFAACAa;
    border: none;
    outline: none;
    padding-left: 1em;
    font-size: 15px;
    color: #002;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#BtnSub{
    font-size: 20px;
    text-transform: capitalize;
    background: #8a2aeb;
    color: #aaa;
    cursor: pointer;
}
::placeholder{
    text-transform: capitalize;
}

.container_signup{
    background: #989898;
    width: 400px;
    height: 500px;
    padding-left: 5em;
    margin-left: 30em;
    padding-top: 3em;
    margin-top: 3em;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid #aaa;
    box-shadow: 10px 10px 10px 10px #CDDCDC;
}

/* styling how the vissibiity of the form field */



.container_signup h3{
    text-transform: capitalize;
    font-size: 15px;
    margin-left: 4em;
    margin-bottom: 2em;
    color: #8a2be2;
}

#awesome_team{
    color: #faebdf;
    padding-left: 1em;
    padding-bottom: 1em;
}

/* importing style from js file */

/* .center_field{
    background: #aaaa;
    height: 200px;
    width: 300px;
    margin-left: 40em;
    display: block;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px #aaa;
    position: absolute;
    bottom: 25em;
} */

/* .form_field{
    margin-bottom: 4em;
    margin-top: 5em;
} */

/* styling the header content */
.container ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 2em;
    cursor: pointer;
    /* background: #2fa2fa; */
    /* background: #7cc; */
    background: #aaaa;
    height: 120px;
    /* margin-top: 10em; */
}

.container h3{
    color: #ffff;
    font: 1rem;
    opacity: 0.4;
    text-transform: capitalize;
}




/* syling the display view on the mobile devices */


@media (max-width: 678px) {
    /* styling the header menu */
    .contain_section{
        justify-content: space-evenly;
        background: #8a2aeb;
    }


    /* styling the header logo */
    .inpay{
        font-size: 10px;
        left: 0.5em;
    }


    .logo{
        padding-left: 0;
    }
    
    .log{
        gap: 1em;
        padding-right: 0;
    }

    /* styling the header toggling button */
    .sign_up,
    .register_input{
        width: 80px;
        font-size: 15px;
        height: 30px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 5px;
      
    }

    .log{
        margin-top: 1em;
    }

    /* styling the login field */

    .container_product,
     .container_signup{
        background: #989898;
        width: 300px;
        height: 500px;
        padding-left: 2em;
        margin-left: 2.5em;
    }
    .container h3{
        font-size: 10px;
        text-align: center;
    }

    .container ul{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 2em;
        background: #8a2aeb;
        margin-top: 8em;
    }

    #awesome_team{
        color: #faebdf;
        padding-left: 5px;
        padding-bottom: 1px;
    }

    .container_signup{
        display: none;
    }
    
}

